certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
django-authlib==0.5.1
django-canonical-domain==0.2.0
gunicorn==19.7.1
idna==2.6
oauthlib==2.0.2
psycopg2==2.7.3.1
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
towel==0.10.1
towel-foundation==0.8.1
urllib3==1.22
