certifi==2018.8.24
chardet==3.0.4
Django==1.11.15
django-authlib==0.6.7
django-canonical-domain==0.2.0
gunicorn==19.9.0
idna==2.7
oauthlib==2.1.0
psycopg2-binary==2.7.5
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
towel==0.11.0
towel-foundation==0.8.2
urllib3==1.23
