appdirs==1.4.3
Django==1.11
django-authlib==0.3.1
gunicorn==19.7.1
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.1
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
towel==0.10.1
towel-foundation==0.8.1
