{% extends "resources/object_list.html" %}

{% block objects %}
<table class="table entries">
{% for object in object_list.select_related %}
  {% ifchanged object.date %}
    <tr>
      <th colspan="3">{{ object.date|date:"d.m.Y" }}</th>
    </tr>
  {% endifchanged %}
  <tr>
    <th><a href="{{ object.get_absolute_url }}">
      {{ object.list }}{% if object.notes %}: {{ object.notes }}{% endif %}
    </a></th>
    <td>{{ object.paid_by.first_name|default:object.paid_by }}</td>
    <td>{{ object.total|stringformat:".2f" }}</td>
  </tr>
{% endfor %}
</table>
{% endblock objects %}
