{% extends "base.html" %}

{% load i18n mark_current %}

{% block content %}
<h1>{% trans "Stats" %}</h1>

<dl class="sub-nav">
  <dt>{% trans "By:" %}</dt>
  <dd {% if by == 'paid_by' %}class="active"{% endif %}>
    <a href="?by=paid_by">{% trans 'User' %}</a></dd>
  <dd {% if by == 'list' %}class="active"{% endif %}>
    <a href="?by=list">{% trans 'List' %}</a></dd>
</dl>

<table class="twelve">
<thead>
    <tr>
        <th></th>
        {% for cell in thead %}
            <th>{{ cell }}</th>
        {% endfor %}
        <th>{% trans "Sum" %}</th>
    </tr>
</thead>
<tbody>
{% for month, month_data, month_sum in tbody %}
    <tr>
        <th>{{ month|date:"F Y" }}</th>
        {% for data in month_data %}
            <td>{{ data|floatformat:".2f" }}</td>
        {% endfor %}
        <th>{{ month_sum|floatformat:".2f" }}</th>
    </tr>
{% endfor %}
</tbody>
<tfoot>
    <tr>
        <th>{% trans "Total" %}</th>
        {% for column_sum in tfoot %}
            <td>{{ column_sum|floatformat:".2f" }}</td>
        {% endfor %}
    </tr>
</tfoot>
</table>
{% endblock %}
