{% extends "base.html" %}

{% load i18n %}

{% block title %}Stats - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% translate "Stats" %}</h1>

<h2>{% translate "Team" %}</h2>

<table class="table stats">
<thead>
    <tr>
        <th></th>
        {% for user in users %}
            <th>{{ user }}</th>
        {% endfor %}
        <th>{% translate "My delta" %}</th>
    </tr>
</thead>
<tbody>
  {% for row in client_table %}
  <tr>
    {% for cell in row %}
      {% if forloop.first %}
        <th><a href="{% url 'mmmoney_entry_list' %}?list={{ cell.pk }}">{{ cell }}</a></th>
      {% else %}
        <td>{{ cell|stringformat:".2f" }}</td>
      {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
<tfoot>
  <tr>
    <th>{% translate "Sum" %} {{ this_year_year }}</th>
    {% for cell in client_sum %}
      <td>{{ cell|stringformat:".2f" }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Bis und mit {{ last_year_year }}</th>
    {% for value in until_last_year_sum %}
      <td>{{ value|stringformat:".2f" }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>{% translate "Total" %}</th>
    {% for cell in total_sum %}
      <td>{{ cell|stringformat:".2f" }}</td>
    {% endfor %}
  </tr>
</tfoot>
</table>

<h2>{% translate "Personal" %}</h2>
<table class="table stats">
<thead>
  <tr>
    <th>{% translate "List" %}</th>
    <th>{% translate "Total" %}</th>
  </tr>
</thead>
<tbody>
  {% for list, total in personal_table %}
  <tr>
    <th>{{ list }}</th>
    <td>{{ total|stringformat:".2f" }}</td>
  </tr>
  {% endfor %}
</tbody>
<tfoot>
  <tr>
    <th>{% translate "Sum" %}</th>
    <td>{{ personal_sum|stringformat:".2f" }}</td>
  </tr>
  <tr>
    <th>Bis und mit {{ last_year_year }}</th>
    <td>{{ personal_until_last_year_sum|stringformat:".2f" }}</td>
  </tr>
  <tr>
    <th>{% translate "Total" %}</th>
    <td>{{ personal_sum|add:personal_until_last_year_sum|stringformat:".2f" }}</td>
  </tr>
</tfoot>
</table>
{% endblock content %}
