{% extends base_template %}

{% load i18n %}

{% block content %}
<h1>{% trans "Stats" %}</h1>

<table class="twelve">
<thead>
    <tr>
        <th></th>
        {% for user in thead %}
            <th>{{ user.first_name|default:user.username }}</th>
        {% endfor %}
        <th>{% trans "Sum" %}</th>
    </tr>
</thead>
<tbody>
{% for month, month_data, month_sum in tbody %}
    <tr>
        <th>{{ month|date:"F Y" }}</th>
        {% for data in month_data %}
            <td>{{ data|floatformat:".2f" }}</td>
        {% endfor %}
        <th>{{ month_sum|floatformat:".2f" }}</th>
    </tr>
{% endfor %}
</tbody>
<tfoot>
    <tr>
        <th>{% trans "Total" %}</th>
        {% for user_sum in tfoot %}
            <td>{{ user_sum|floatformat:".2f" }}</td>
        {% endfor %}
    </tr>
</tfoot>
</table>
{% endblock %}
