{% spaceless %}{% load i18n %}<!DOCTYPE html>
<html>
<head>
<title>{% block title %}mmmoney{% endblock %}</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}mmmoney/style.css">
</head>
<body>
{% block body %}
<div id="tabs" class="cf">
    <a href="/">{% trans "entries"|capfirst %}</a>
    <a href="/add/">{% trans "add"|capfirst %}</a>
    <a href="/stats/">{% trans "Stats" %}</a>
    <a href="{% url django.contrib.auth.views.logout %}" class="right">X&nbsp;</a>
</div>
<div id="content">
{% for message in messages %}
{% if forloop.first %}<ul class="messages">{% endif %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
{% if forloop.last %}</ul>{% endif %}
{% endfor %}

{% block content %}{% endblock %}</div>
{% endblock %}
</body>
</html>{% endspaceless %}
