// Global Foundation Settings
@import "settings";
@import "foundation-icons";


// TYPOGRAPHY

$body-font-color: #222;
$body-font-family: Arial, Tahoma, Verdana, sans-serif;

$header-font-family: $body-font-family;
$header-font-weight: normal;
$header-font-color: #444;

$paragraph-font-size: em-calc(14);
$small-font-size: 80%;

$hr-margin: em-calc(15);

$f: 1.135;
$h6-font-size: 1em;
$h5-font-size: $h6-font-size * $f;
$h4-font-size: $h5-font-size * $f;
$h3-font-size: $h4-font-size * $f;
$h2-font-size: $h3-font-size * $f;
$h1-font-size: $h2-font-size * $f;


// TOPBAR

$topbar-bg: rgba(255, 255, 255, 1);
$topbar-bg-color: rgba(255, 255, 255, 1);
$topbar-dropdown-bg: #fff;
$topbar-link-bg-active: #fff;

$topbar-link-color: $body-font-color;
$topbar-link-color-hover: darken($topbar-link-color, 10%);
$topbar-link-color-active: darken($topbar-link-color, 10%);
$topbar-link-weight: normal;
$topbar-link-font-size: em-calc(14);
$topbar-dropdown-link-color: $body-font-color;

$topbar-menu-link-color: #888;
$topbar-menu-icon-color: #888;
$topbar-menu-link-color-toggled: $body-font-color;
$topbar-menu-icon-color-toggled: $body-font-color;

$topbar-arrows: true;
$topbar-breakpoint: 768px;


// BREADCRUMBS

$crumb-padding: 0;
$crumb-border-size: 0;
$crumb-bg: #fff;
$crumb-slash: '>';


// PAGINATION

$pagination-height: auto;


// MICROFORMATS

$microformat-border-width: 0;
$microformat-padding: 0;
$microformat-margin: 0;
$microformat-fullname-font-size: 1em;


// SUB NAV

$sub-nav-font-color: #666;


@import "normalize";
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
@import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
@import "foundation/components/orbit";
@import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
@import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
@import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
@import "foundation/components/side-nav";
@import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
@import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
@import "foundation/components/dropdown";

@import "compass/css3/background-size";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/transition";


// FORMS

form ul {
    list-style: none;
}

label span {
    font-size: 80%;
    color: lighten($body-font-color, 10%);
}

.required label {
    font-weight: bold;
    ul label {
        font-weight: normal;
    }
}

.form-errors {
    .errorlist {
        list-style: disc;
        margin: 0 0 0 1.25em;
    }
    strong + .errorlist {
        margin-top: 0.5em;
    }
}


// SEARCH FORM

.form-search {
    position: relative;
    width: 240px;

    .input-group { width: 195px; margin-right: 5px; }
    .panel {
        position: absolute;
        top: 40px;
        right: 0;
        min-width: 400px;
        z-index: 2;
        opacity: 0;
        background-color: #f5f5f5;
        background-color: rgba(245, 245, 245, 0.9);

        @include box-shadow(0 3px 9px rgba(0, 0, 0, 0.5));
    }
}
